.SelectMenu-Background{
    position: absolute;
    top: 100px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SelectMenu{
    background-color: var(--main-bg-color);
    opacity: 100%;
    width: 50%;
    padding: 10px;
    padding-bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.GroupContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GroupLabel{
    margin: 30px 0 10px 0;
    font-size: 20px;
}

.GroupGridWrapper{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.jump {
    grid-column: 1 / -1; 
}

.SelectMenuCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.SelectMenuCard:hover{
    background-color: var(--side-bg-color);
    color: var(--side-font-color);
    cursor: pointer;
}