.ErrorSlider{
    position: absolute;
    top: 0px;
    left:20%;
    width: 60%;
    font-size: 40px;
    background-color: brown;
    height: 20%;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
}

.ErrorSlider p{
    margin: auto;
    color: white;
}