*{
    font-family: Arial, Helvetica, sans-serif;
    --main-bg-color: white;
    --main-border-color: grey;
    --loading-bg-color: #dcdcdc;
    --side-bg-color: white;
    --side-border-color: grey;
    --main-font-color: black;
    --side-font-color: green;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 98vh; 
  width: 94vw;
}