*{
    font-family: Arial, Helvetica, sans-serif;
    --main-bg-color: white;
    --loading-bg-color: gainsboro;
    --side-bg-color: gainsboro;
    --side-border-color: grey;
}

.App{
    display: flex;
    justify-content: center;
}